/doc/
/example/**/bin/
/lib/
/nuvoton-sdk/
/src/startup/evicsdk_tag.s

*.o
*.a
*.map
*.lst
*.elf
*.bin

.DS_Store

__pycache__/
*.py[cod]

*.sublime-project
*.sublime-workspace

.tags
.tags_sorted_by_file

.idea/*
